.chat-list {
  height: 100%;
  display: flex;
  flex-direction: column;
  opacity: 1;
}
.header {
 height: 56px;
 display: flex;
 background: #3E5E7D;
 color: white;
 align-items: center;
 box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 4px;   
 z-index: 1;
 transition: all ease 0.3s;
}
.chat-title {
  white-space: nowrap; 
  overflow: hidden; 
  text-overflow: ellipsis; 
  font-weight: 1000;
  flex: 1 1 0%; 
  padding-left: 16px;   
}
.link {
  flex: 1 1 0%; 
  display: flex; 
  align-items: center; 
  color: inherit; 
  text-decoration: inherit;
}
.img-member {
     height: 48px;
width: 48px;
border-radius: 50%;
margin: 0px 8px;
}
.chat {
  flex: 1 1 0%; 
  height: 100%; 
  padding: 12px 8px 12px 0px; 
  display: flex; 
  flex-direction: column; 
  justify-content: space-between; 
  min-width: 0px; 
  border-bottom: 1px solid rgb(238, 238, 238);
}
.chat-wrap-all{
  flex: 1 1 0%; 
  height: calc(100% - 56px); 
  overflow: auto; 
  background: white;
}
.chat-list-member{
  position: relative;
}
.chat-member{
  height: 64px; display: flex; background: white;
}
.chat {
 cursor: pointer;
     flex: 1 1 0%;
height: 100%;
padding: 12px 8px 12px 0px;
display: flex;
flex-direction: column;
justify-content: space-between;
min-width: 0px;
border-bottom: 1px solid rgb(238, 238, 238);
}
.title {
     white-space: nowrap;
overflow: hidden;
text-overflow: ellipsis;
font-weight: 500;
}
.desc {
white-space: nowrap;
overflow: hidden;
text-overflow: ellipsis;
color: rgb(204, 204, 204)
}
.search-form{
  border: none; 
  outline: 0; 
  font-size: 16px; 
  background: transparent;
}
.search-icon{
  padding-right: 15px; 
  padding-top: 5px;
}